.themeChanger {
    margin: 0 auto;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: var(--gray-500);
    border: 1px solid var(--gray-200);
    background: var(--white);
    
    transition-property: border, color;
    transition-duration: .2s;
}

.themeChanger:hover {
    color: var(--purple-300);
    border: 1px solid var(--purple-300);
}