:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  --green-500: #04d361;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-50);
  transition: background, color;
  transition-duration: 0.2s;
}

body,
button,
input,
textarea {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button,
a {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

button:disabled {
  cursor: default;
}

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--purple-300);
}

::-webkit-scrollbar-thumb {
  background: var(--green-500);
  border-radius: 8px;
  transition: .2s;
}

::-webkit-scrollbar-thumb:active {
  background: var(--blue-dark);
}

.simplebar-scrollbar::before {
  background-color: var(--purple-500)!important;
}

.simplebar-scrollbar {
  right: 2px;
}

.simplebar-track.simplebar-vertical {
  width: 13px;
}

#nprogress {
  position: relative;
  z-index: 999;
}

#nprogress .bar {
  background: var(--green-500);
  height: 3px;
}

/* responsive fonts */

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}