.home {
    padding: 0 4rem;
    height: calc(100vh - 6.5rem);

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

}

.latestEpisodes {
    ul {
        max-width: 100%;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    li {
        flex: 1;
        background: var(--white);
        border: 1px solid var(--gray-100);
        padding: 1.25rem;
        border-radius: 1.5rem;

        position: relative;
        display: flex;
        align-items: center;

        div {
            width: 6rem;
            height: 6rem;
            
            img {
                border-radius: 1rem;
            }
        }


        .episodeDetails {
            flex: 1;
            height: fit-content;
            margin-left: 1rem;

            a {
                display: block;
                color: var(--gray-800);
                transition: color .2s;

                font-family: Lexend, sans-serif;
                font-weight: 600;
                line-height: 1.4rem;

                &:hover {
                    color: var(--purple-300);
                }
            }

            p {
                font-size: .875rem;
                margin-top: .5rem;
                max-width: 70%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span {
                display: inline-block;
                margin: .5rem .5rem 0 0;
                font-size: .875rem;
            }

            span:last-child {
                margin-right: 0;
            } 
        }

        button {
            width: 2.5rem;
            height: 2.5rem;

            background: var(--white);
            border: 1px solid var(--gray-100);
            border-radius: .675rem;
            font-size: 0;
            transition: background .2s;

            right: 1.5rem;
            bottom: 1.25rem;
            position: absolute;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:hover {
                background: var(--gray-100);
            }
        }
    }
}

.allEpisodes {
    padding-bottom: 2rem;

    table {
        width: 100%;
    }

    th, td {
        padding: .75rem .75rem;
        border-bottom: 1px solid var(--gray-100);
    }

    th {
        color: var(--gray-200);
        font: 500 .75rem Lexend, sans-serif;
        text-align: left;
    }

    td {
        font-size: .875rem;

        &:nth-child(4) {
            width: 90px;
        }

        img {
            min-width: 2.5rem;
            height: 2.5rem;
            border-radius: .5rem;
        }

        a {
            color: var(--gray-800);
            font: 600 1rem Lexend, sans-serif;
            line-height: 1.4rem;
            transition: color .2s;

            &:hover {
                color: var(--purple-300);
            }
        }

        button {
            width: 2.5rem;
            height: 2.5rem;

            background: var(--white);
            border: 1px solid var(--gray-100);
            border-radius: .675rem;
            font-size: 0;
            transition: background .2s;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:hover {
                background: var(--gray-100);
            }
        }
    }
}


// mobile

@media(max-width: 1400px) {
    .home {
        padding: 0 2.5rem;
    }
}

@media(max-width: 1300px) {
    .latestEpisodes {
        ul {
            grid-template-columns: 1fr;
        }
    }
}

@media(max-width: 1200px) {
    .home {
        padding: 0 1.5rem;
    }
}

@media(max-width: 1080px) {
    .allEpisodes {
        th, td {
            padding: .75rem .5rem;
        }
    }
}

@media(max-width: 950px) {
    .latestEpisodes {
        ul {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media(max-width: 768px) {
    .latestEpisodes {
        ul {
            grid-template-columns: 1fr;
        }
    }
}

@media(max-width: 600px) {
    .allEpisodes {
        table {
            th:not(:nth-child(2)),
            td:not(:nth-child(2)) {
                text-align: right;
            }

            th:nth-child(3) {
                display: none;
            }

            td:nth-child(3) {
                display: none;
            }
        }
    }
}

@media(max-width: 400px) {
    .home {
        padding: 0 1rem;
    }

    .allEpisodes {
        table {
            th:nth-child(4) {
                display: none;
            }

            td:nth-child(4) {
                display: none;
            }
        }
    }
}
