.container {
    width: 100vw;
    height: 100vh;
    background: var(--purple-500);

    display: flex;
    align-items: center;
    justify-content: center;

    section {
        width: 25%;
        margin-right: 10%;

        img {
            width: 100%;
        }

        p {
            max-width: 70%;
            margin: 4rem 0 3rem;
            color: #fff;
            font-size: 1.25rem;
        }

        button {
            width: 70%;
            margin: 0 auto;
            padding: 1rem 0;
            color: #fff;
            font-weight: bold;
            
            border-radius: 8px;
            border: 1px solid var(--green-500);
            background: transparent;
            transition-property: background, color;
            transition-duration: .2s;

            &:hover {
                background: var(--green-500);
                color: #494D4B;
            }
        }
    }

    img {
        width: 50%;
        max-height: 90%;
    }
}