.container {
    width: 100vw;
    height: 100vh;
    background: var(--purple-500);

    display: flex;
    align-items: center;
    justify-content: center;

    section {
        width: 30%;
        height: 50%;
        margin-right: 10%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        img {
            width: 100%;
        }

        p {
            max-width: 70%;
            // margin: 4rem 0 3rem;
            color: #fff;
            font-size: 1.25rem;
        }

        button {
            width: 70%;
            // margin: 0 auto;
            padding: 1rem 0;
            color: #fff;
            font-weight: bold;
            
            border-radius: 8px;
            border: 1px solid var(--green-500);
            background: transparent;
            transition-property: background, color;
            transition-duration: .2s;

            &:hover {
                background: var(--green-500);
                color: #494D4B;
            }
        }
    }

    img {
        width: 40%;
        max-height: 90%;
    }
}


@media(min-height: 80vw) {
    .container {
        section {
            width: 80%;
            height: 80%;
            margin: 0 auto;
            align-items: center;

            p {
                max-width: 100%;
                text-align: center;
            }
        }
        & > img {
            display: none;
        }
    }
}

@media(max-height: 768px) {
    .container {
        section {
            height: 70%;
        }
    }
}

@media(max-width: 1080px) {
    .container {
        section {
            p {
                font-size: 1rem;
            }
        }
    }
}

@media(max-width: 768px) {
    .container {
        section {
            width: 80%;
            height: 80%;
            margin: 0 auto;
            align-items: center;

            p {
                max-width: 100%;
                text-align: center;
            }
        }
        & > img {
            display: none;
        }
    }
}